<!DOCTYPE html>
<html>
<head>
    <title>Faculty Subjects</title>
    <link rel="stylesheet" href="/style.css">
</head>
  <body>
    <%- include('../partials/faculty_sidebar') %>
    <div class="main-content">
          <div class="title">
      <h1>My Subjects</h1>
    </div>
    <div class="subject-table">
      <table>
        <tr>
        <th>Subject</th>
        <th>Code</th>
        <th>Semester</th>
        <th>Credits</th>
        <th>Actions</th>
        </tr>
        <% subjects.forEach(function(subject){ %>
        <tr>
        <td><%= subject.name %></td>
        <td><%= subject.code %></td>
        <td><%= subject.semester %></td>
        <td><%= subject.credits %></td>
            <td><button type="button" class="view-students" data-id="<%= subject.id %>">View Students</button></td>
        </tr>
        <% }) %>
      </table>
    </div>

    </div>
  <script src="/script.js"></script>
  </body>
</html>
